{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if not listac and cUser == winner %}
            <div class="alert alert-success alert-dismissible">
                <strong>You won the auction!</strong> 

            </div>
            {%elif not listac and cUser == owner %}
            <div class="alert alert-success alert-dismissible">
                <strong> {{winner}} won the auction!</strong> 
            </div>
        {% endif %}

        {% if cUser == owner and listac %}
            <form action="{% url 'closeAuc' id=items.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">Close Auction</button>
            </br>
                <h6>Doble click to close the auction</h6>
            </form>
            <br>
            
        {% endif %}

        {% if listac %}
            {% if isinWL %}
                <form action="{% url 'removewatchlist' id=items.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addwatchlist' id=items.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}

        <br>
    {% endif %}

    <h2>Listing: {{ items.title }}</h2>
    <h2>Listing ID : {{ items.id }}</h2>
    <div class="listing row"> 
        <div class="col-md-3">
            <img class="img-thumbnail" src="{{ items.image_url }}" alt="{{ items.title }}">
        </div>
        <div class="col-md-9">
            <h4>{{ items.title }}</h4>
            <p>Price: ${{ items.price.bid }}</p>
            <p>{{ items.description }}</p>
            {% if user.is_authenticated and listac %}
                <form action="{% url 'bid' id=items.id %}" method="POST" class="px-0">
                    {% csrf_token %}
                    <div class="form-group">
                        <input name="price" type="text" placeholder="Bid" class="form-control form-control-sm" style="width: 150px;">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Submit Bid</button>
                </form>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="details">
        <h3>Details</h3>
        <p><b>Listed by:</b> {{ items.owner }}</p>
        <p><b>Category:</b> {{ items.category }}</p>
        <p><b>Last bid by :</b> {{ winner}}</p>
    </div>

    {% if user.is_authenticated %}
    <form action="{% url 'comment' id=items.id %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
               <h3 class="px-0">Comments</h3>
            <input name="comment" type="text" placeholder="Add a comment" class="form-control form-control-sm" style="width: 250px;">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
        {% endif %}
        <br>
        <h3 class="px-0">All Comments</h3>
        {% for comment in allcomments %}
    <ul>       
<div class="comments-container">
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author">{{comment.commenter}}</h6>
                    </div>
                    <div class="comment-content">
                        {{ comment.comment }}
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </ul>
</div>
{% endblock %}