{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if not listac and cUser == winner %}
            <div class="alert alert-success alert-dismissible">
                <strong>You won the auction!</strong> 
            </div>
        {% endif %}

        {% if cUser == owner and listac %}
            <form action="{% url 'closeAuc' id=items.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">Close Auction</button>
            </form>
            <br>
        {% endif %}
<div class="card">
    <nav>
      <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
      Back to all Plants
      <svg class="heart" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" stroke="#727272" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z" stroke="#727272"/></svg>
    </nav>
    <div class="photo">
      <img src=" {{items.image_url}} ">
    </div>
    <div class="description">
      <h2> {{items.title}} </h2>
      <h4>Popular House Plant</h4>
      <h1>${{items.price.bid}}  </h1>
      <p> {{items.description}} </p>
      {% if listac %}
      {% if isinWL %}
          <form action="{% url 'removewatchlist' id=items.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Remove from Watchlist</button>
          </form>
      {% else %}
          <form action="{% url 'addwatchlist' id=items.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-success btn-sm">Add to Watchlist</button>
          </form>
      {% endif %}
  {% endif %}
    </div>
  </div>


    {% if user.is_authenticated %}
        {% if listac %}
            <form action="{% url 'bid' id=items.id %}" method="POST" class="px-0">
                {% csrf_token %}
                <div class="form-group">
                    <input name="price" type="text" placeholder="Bid" class="form-control form-control-sm" style="width: 150px;">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Submit Bid</button>
            </form>
        {% endif %}
    {% endif %}

    <br>
    <br>

    <h3 class="px-0">Details</h3>
    <p> <b>Listed by:</b>  {{ items.owner }}</p>
    <p><b>Category:</b>  {{ items.category }}</p>
    <br>

    {% if user.is_authenticated %}
        <form action="{% url 'comment' id=items.id %}" method="POST" >
            {% csrf_token %}
            <div class="form-group">
                   <h3 class="px-0">Comments</h3>
                <input name="comment" type="text" placeholder="Add a comment" class="form-control form-control-sm" style="width: 250px;">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>

        <ul>
            {% for comment in allcomments %}
                
	<div class="comments-container">
		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author">{{comment.commenter}}</h6>
						</div>
						<div class="comment-content">
							{{ comment.comment }}
						</div>
					</div>
				</div>
				
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}